@font-face {
    font-family: "Casanova";
    src: url("../fontes/Casanova\ Font\ Free.ttf");
}

@font-face {
    font-family: "Parisienne";
    src: url("../fontes/Parisienne-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fontes/Roboto-Regular.ttf");
}

.home-title, h1{
    font-family:"Casanova";

}
