// .pagina-sobre{
    .pagina-conteudo{
        @media(min-width: $breakpoint-md){
            padding-right: 150px;
            padding-left: 150px;
        }
    }
//}

.sobre{
    // padding-top: 5%;
    padding-bottom: 5%;
   
}

.img-sobre{
    width:50%;
    float:left;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: $cor-titulo-op;
 
}



.p-sobre{
    width:50%;
    padding:40px;
    float:right;
    text-align: justify;
}